{% extends 'users/layout.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <h1>Login: </h1>
    <h2> {{message}} </h2>
    <form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Login">
    </form>
    <p>If you have not already account, please <a href="{% url 'users:register' %}">Register</a></p>

{% endblock %}