{% extends 'users/layout.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <h1>Register: </h1>
    <h2> {{message}} </h2>
    <form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
        <label for="first">First Name: </label>
        <input type="text" name="first" id="first">
        <label for="last">Last Name: </label>
        <input type="text" name="last" id="last">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <label for="confirmation">Confirmation: </label>
        <input type="password" name="confirmation" id="confirmation">

        <input type="submit" value="Register">
    </form>
{% endblock %}