{% extends "auctions/layout.html" %}

{% block title %}
    <title>Create Listing</title>
{% endblock %}

{% block body %}
<h1>Create Listing: </h1>
<style>
    .base-attr{
        height: 40vh;
        width: 40vw;
        display: flex;
        justify-content: space-between;
    }
    .inp{
        height: 4vh;
        width: 15vw;
    }
</style>
    <h3>{{message}}</h3>
    <form action="{% url 'auctions:create' %}" method="post">
    {% csrf_token %}
<div class="base-attr">
    <div>
        <p>Title: </p>
        <input type="text" name="title" class="inp">
        <p>Starting Bid: </p>
        <input type="text" name="startingbid" class="inp">
        <p>Image Urls: </p>
        <input type="url" name="img_url" id="img-url" class="inp">
    </div>
    <div>
        <p>Select Category: </p>
        <select name="category" style="height: 5vh">
            <option value="Book">Book</option>
            <option value="Course">Course</option>
            <option value="Ticket">Ticket</option>
            <option value="Electronic Deivce">Electronic Deivce</option>
            <option value="Jewelry">Jewelry</option>
            <option value="Mechanical Equipment">Mechanical Equipment</option>
            <option value="Utilities">Utilities</option>
            <option value="Sports">Sports</option>
            <option value="Shoes">Shoes</option>
            <option value="Decorations">Decorations</option>
            <option value="Houseware">Houseware</option>
            <option value="Clothes">Clothes</option>
        </select>
    </div>
</div>
    <div>
        <p>Decription: </p>
        <textarea name="decription" cols="50vw" rows="6"></textarea>
    </div>
        <input type="submit" value="Create Listing" style="padding: 7px 17px; margin-top: 10px;">
        <div style="margin-bottom: 10vh;"></div>
    </form>

{% endblock %}