{% extends "auctions/layout.html" %}
{% block title %}
<title>Auctions</title>
{% endblock %}

{% block body %} 
    {% for item in listings %}
    <div class="listing-info">
    <div  class="lst-img">
    <img src="{{item.imgurls}}" alt="Not Images For This Product">
    </div>
    <div class="lst-text-info">
        <h4>Title: <span>{{item.title}}</span></p></h4>
        <h4>Price: <span>{{item.currentbid}}$</span></h4>
        <h4>Decription: <span>{{item.decription}}</span></h4>
        <h4>Time: <span>{{item.time}}</span></h4>
        <a href="{% url 'auctions:listing' item.id %}">View By Listing</a>
    </div>
    </div>
    {% endfor %}
{% endblock %}