{% extends "auctions/listing_layout.html" %}

{% block bid %}
<h2>{{listing.currentbid}}$</h2>
<p>{{num_of_bid}} bids so far.</p>
{% if case == 1 %}
    <p>Your bid is the current bid</p>
{% elif case == 2  %}
    <p>Your bid was pressed down</p>
{% endif %}
<form action="{% url 'auctions:place_bid' listing.id %}" method="post">
    {% csrf_token %}
    <input type="number" step="0.01" name="bid">
    <input type="submit" value="Place Bid">
</form>
{{bid_massage}}
{% endblock %}

{% block comment %}
<br>

<form action="{% url 'auctions:comment' listing.id %}" method="post">
{% csrf_token %}
    <textarea name="content" cols="100vw" rows="5" autofocus placeholder="Pleases Write Your Comments"></textarea>
    <br>
    <input type="submit" value="Comment" name="submit">
</form>
<br>
{% endblock %}